<%= turbo_frame_tag dom_id( tag ) do %>
  <div class="container posts-info-toast">
  </div>
  <div class="container">
    <h1>
      <%= link_to "Tag: #{tag.title}", tag %>
    </h1>
    <hr style="margin: 1rem 0; "/>
  </div>
<% end %>
