<%= turbo_frame_tag 'new_post' do %>
  <div class="container" >
    <h1 style="margin-top: 2rem; margin-left: 40%">  New Post </h1>
    <hr style="margin: 2rem;">
    <%= render "post_form", post: @post %>
  </div>
<% end %>
